<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/css.css">
</head>
<body>
    <div>
        <ul id="nav">
            <li class="nav-li"><a th:href="@{index}">Index</a></li>
            <li class="nav-li"><a th:href="@{contact}">Contact</a></li>
            <li class="nav-li"><a th:href="@{contact-list}">Contact List</a></li>
            <li class="nav-li"><a th:href="@{about}">About</a></li>
            <li class="nav-li"><a th:href="@{fever-start}">Check Fever</a></li>
        </ul>
        <ul>
            <li th:each="contact: ${contacts}">
                <p th:text="${contact}"></p>
            </li>
        </ul>
    </div>
</body>
</html>